! .Xresources 1.3
! Time-stamp: <2016-11-17 16:00:21 PST xoddf2>

Xft.dpi: 96

! Emacs
Emacs.geometry: 80x50
Emacs.menuBar: off
Emacs.toolBar: off
Emacs.verticalScrollBars: off
Emacs.internalBorder: 2
Emacs.background: black
Emacs.foreground: white
Emacs.FontBackend: xft
Emacs.font: Dina-8

! Rofi
rofi.font: Fixed 13px
rofi.terminal: st
rofi.ssh-client: mosh
