! .Xresources
! Time-stamp: <2017-08-29 17:21:25 PDT xoddf2>

! Emacs
Emacs.geometry: 80x50
Emacs.menuBar: off
Emacs.toolBar: off
Emacs.verticalScrollBars: false
Emacs.internalBorder: 1
Emacs.background: black
Emacs.foreground: white
Emacs.FontBackend: xft
Emacs.font: Terminus-10
