! .Xresources 2.2.1   Time-stamp: <2014-04-21 20:56:33 PDT xoddf2>

Xft.dpi: 96

! xterm ------------------------------------------------------------------------
XTerm*locale: UTF-8
XTerm*font: -misc-fixed-medium-r-normal--13-*-*-*-*-*-iso10646-1
XTerm*utf8Fonts.font: -misc-fixed-medium-r-normal--13-*-*-*-*-*-iso10646-1
XTerm*wideFont: -*-*-*-*-*-ja-*-*-*-*-*-*-*-*
XTerm*background: black
XTerm*foreground: white
XTerm*termName: xterm-256color
XTerm*altIsNotMeta: true
XTerm*altSendsEscape: true
XTerm*scrollBar: false
XTerm*bellIsUrgent: true
XTerm*backarrowKey: false
XTerm*ttyModes: erase ^?
XTerm*Translations: #override <Key>BackSpace: string (0x7f) \n<Key>Delete: string (0x1b) string("[3~")

! Emacs ------------------------------------------------------------------------
emacs*font: -xos4-terminus-medium-r-*-*-16-*-*-*-*-*-*-*
emacs*geometry: 80x55
emacs*background: black
emacs*foreground: grey
emacs*menuBar: off
emacs*verticalScrollBars: off
emacs*toolBar: off
emacs*internalBorder: 0
