! .Xresources 2.5   Time-stamp: <2014-06-17 13:17:14 PDT xoddf2>

Xft.dpi: 96

! rxvt-unicode -----------------------------------------------------------------
Rxvt.termName: xterm-256color

URxvt.urgentOnBell: true

Rxvt.scrollBar: false
URxvt.pointerBlank: true

URxvt.depth: 32

Rxvt.background: rgba:0000/0000/0000/BFBF
Rxvt.foreground: white

Rxvt.color0: #000000
Rxvt.color1: #CD0000
Rxvt.color2: #00CD00
Rxvt.color3: #CDCD00
Rxvt.color4: #0000EE
Rxvt.color5: #CD00CD
Rxvt.color6: #00CDCD
Rxvt.color7: #E5E5E5
Rxvt.color8: #7F7F7F
Rxvt.color9: #FF0000
Rxvt.color10: #00FF00
Rxvt.color11: #FFFF00
Rxvt.color12: #5C5CFF
Rxvt.color13: #FF00FF
Rxvt.color14: #00FFFF
Rxvt.color15: #FFFFFF

Rxvt.font: -xos4-terminus-medium-r-*-*-14-*-*-*-*-*-*-*

URxvt.perl-ext-common: keyboard-select
URxvt.keysym.M-Escape: perl:keyboard-select:activate

! Emacs ------------------------------------------------------------------------
Emacs.geometry: 80x50
Emacs.menuBar: off
Emacs.toolBar: off
Emacs.verticalScrollBars: off
Emacs.internalBorder: 2
Emacs.background: black
Emacs.foreground: white
Emacs.font: -xos4-terminus-medium-r-*-*-16-*-*-*-*-*-*-*
